.skillsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 48px;
  padding: 0 32px;
  margin-bottom: 140px;

  article {
    width: 90%;
    padding: 5px;
    background: rgb(80, 156, 214);
    background: linear-gradient(
      288deg,
      rgba(80, 156, 214, 1) 19%,
      rgba(72, 18, 188, 1) 90%
    );
    box-shadow: 16px 16px 48px -23px rgba(80, 156, 214, 1),
      -17px -7px 48px -16px rgba(72, 18, 188, 1);
    border-radius: 8px;
  }

  h2 {
    background-color: var(--background-color);
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
    border-radius: 6px 6px 0 0;
  }

  .iconsContainer {
    border-radius: 0 0 6px 6px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-top: 16px;
    padding-bottom: 16px;

    div {
      text-align: center;
      h3 {
        color: var(--gray-text-color);
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .html {
      svg {
        color: #e34c26;
      }
    }

    .css {
      svg {
        color: #2965f1;
      }
    }

    .js {
      svg {
        color: #f0db4f;
      }
    }

    .ts {
      svg {
        color: #007acc;
      }
    }

    .ang {
      svg {
        color: #dd1b16;
      }
    }

    .react {
      svg {
        color: #61dafb;
      }
    }

    .next {
      svg {
        color: #000000;
        background-color: white;
        border-radius: 100%;
        padding: 1px;
      }
    }

    .ion {
      svg {
        color: #498aff;
      }
    }

    .hnd {
      svg {
        color: #ff7e00;
      }
    }

    .node {
      svg {
        color: #339933;
      }
    }

    .ex {
      svg {
        color: #aeeefc;
      }
    }

    .mng {
      svg {
        color: #880000;
      }
    }

    .db {
      svg {
        color: #47a248;
      }
    }
  }
}

.firstArticle {
  animation: dropFirst 4s 1;
  z-index: 3;
}

.secondArticle {
  animation: dropSecond 4s 1;
  z-index: 2;
}

.thirdArticle {
  animation: dropThird 4s 1;
  z-index: 1;
}

@keyframes dropFirst {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropSecond {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  25% {
    opacity: 0;
    transform: translateY(100%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes dropThird {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 0;
    transform: translateX(100%);
  }
  55% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@media (max-width: 760px) {
  .skillsSection {
    margin-top: 36px;
  }
}
