.skillsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  padding: 0 32px;
  margin: 40px 0;

  .filler {
    background-color: var(--background-color);
  }

  article {
    width: 90%;
    padding: 5px;
    background: linear-gradient(
      288deg,
      rgba(80, 156, 214, 1) 19%,
      rgba(72, 18, 188, 1) 90%
    );
    box-shadow: 16px 16px 48px -23px rgba(80, 156, 214, 1),
      -17px -7px 48px -16px rgba(72, 18, 188, 1);
    border-radius: 8px;
  }

  h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid transparent;
  }

  .iconsContainer {
    border-radius: 0 0 6px 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-bottom: 16px;
    padding: 18px 12px 18px 12px;

    div {
      text-align: center;
      h3 {
        color: var(--gray-text-color);
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.firstArticle {
  animation: dropFirst 4s 1;
  z-index: 3;
  position: relative;
}

.secondArticle {
  animation: dropSecond 4s 1;
  z-index: 2;
}

.thirdArticle {
  animation: dropThird 4s 1;
  z-index: 1;
}

@keyframes dropFirst {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropSecond {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 0;
    transform: translateY(-100%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes dropThird {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  40% {
    opacity: 0;
    transform: translateY(-100%);
  }
  55% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 760px) {
  .skillsSection {
    margin-top: 36px;
  }
}
