.homepage {
  margin-top: 20px;
  margin-bottom: 25rem;

  .text1,
  .text2,
  .text3,
  .links {
    width: fit-content;
    margin-left: 10%;
  }

  .text1 {
    font-size: 40px;
    padding-right: 20%;
    font-weight: 700;
    color: #8b8e9a;
    animation: text 2.5s 1;
  }

  .text2 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 8px;
    background-color: var(--background-color);
    position: relative;
    animation: text 3s 1;
  }

  .text3 {
    font-size: 30px;
    color: var(--active-link-color);
  }

  .text4 {
    font-size: 140px;
    font-weight: 500;
    display: block;
    transform: rotate(-25deg);
    right: 50px;
    top: 400px;
    position: absolute;
    color: #1a213b;
  }
  .text4 {
    font-size: 140px;
    font-weight: 500;
    display: block;
    transform: rotate(-25deg);
    right: 50px;
    top: 400px;
    position: absolute;
    color: #1a213b;
    opacity: 0;
    animation: fadeInAndMove 3s forwards;
  }

  .links {
    margin-top: 40px;

    .link1,
    .link2 {
      animation: linksMove 1s forwards;
      animation-delay: 3s;
      opacity: 0;
    }

    a {
      animation: linksMove 3s forwards;
      display: inline-block;
      width: 160px;
      padding: 16px;
      background: rgb(73, 41, 191);
      background: linear-gradient(
        288deg,
        rgba(73, 41, 191, 1) 19%,
        rgba(80, 162, 217, 1) 90%
      );
      border-radius: 8px;
    }
    a:last-child {
      margin-left: 8px;
    }

    a:hover {
      opacity: 0.9;
    }

    a:active {
      opacity: 0.7;
    }
  }
}

@keyframes linksMove {
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndMove {
  0% {
    opacity: 0;
    transform: rotate(-25deg) translateY(-50px);
  }

  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
    transform: rotate(-25deg) translateY(0);
  }
  70% {
    opacity: 0.7;
    transform: rotate(-25deg) translateY(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-25deg) translateY(0);
  }
}

@keyframes text {
  0% {
    color: var(--background-color);
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  80% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@media (max-width: 1300px) {
  .homepage {
    .text1 {
      font-size: 36px;
    }
    .text2 {
      font-size: 50px;
    }
    .text3 {
      font-size: 26px;
    }
    .text4 {
      font-size: 120px;
      right: 50px;
    }
  }
}

@media (max-width: 1029px) {
  .homepage {
    .text4 {
      font-size: 100px;
      right: 20px;
    }
  }
}

@media (max-width: 870px) {
  .homepage {
    .text1 {
      font-size: 28px;
    }
    .text2 {
      font-size: 40px;
    }
    .text3 {
      font-size: 22px;
    }
    .text4 {
      font-size: 80px;
      right: 40px;
    }
  }
}

@media (max-width: 700px) {
  .homepage {
    .text4 {
      top: 430px;
      font-size: 60px;
    }
  }
}

@media (max-width: 610px) {
  @keyframes text {
    0% {
      color: var(--background-color);
      margin-bottom: -40px;
    }

    30% {
      letter-spacing: 15px;
      margin-bottom: -40px;
    }

    80% {
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }
}

@media (max-width: 530px) {
  .homepage {
    .text4 {
      left: 50px;
    }
  }
}

@media (max-width: 460px) {
  @keyframes text {
    0% {
      color: var(--background-color);
      margin-bottom: -40px;
    }

    30% {
      letter-spacing: 10px;
      margin-bottom: -40px;
    }

    80% {
      letter-spacing: 6px;
      margin-bottom: -40px;
    }
  }

  .homepage {
    .text1 {
      width: 100%;
      font-size: 28px;
    }
    .text2 {
      letter-spacing: 4px;
      font-size: 32px;
      width: 100%;
    }
    .text3 {
      font-size: 22px;
      width: 100%;
    }
    .text4 {
      right: 40px;
      top: 480px;
    }

    .links {
      margin: 36px 0 0 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      a:last-child {
        margin-left: 0;
      }
    }
  }
}
