.homepage {
  text-align: center;
  align-self: start;
  margin-top: 40px;

  .text1,
  .text2,
  .text3 {
    width: fit-content;
    margin-left: 10%;
  }

  .text1 {
    font-size: 40px;
    padding-right: 20%;
    font-weight: 700;
    color: #8b8e9a;
    animation: text 2.5s 1;
  }

  .text2 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background-color: var(--background-color);
    position: relative;
    animation: text 2.5s 1;
  }

  .text3 {
    font-size: 30px;
    color: var(--active-link-color);
  }
}

.text4 {
  font-size: 140px;
  font-weight: 500;
  display: block;
  transform: rotate(-25deg);
  right: 50px;
  top: 400px;
  position: absolute;
  color: #1a213b;
}
.text4 {
  font-size: 140px;
  font-weight: 500;
  display: block;
  transform: rotate(-25deg);
  right: 50px;
  top: 400px;
  position: absolute;
  color: #1a213b;
  opacity: 0;
  animation: fadeInAndMove 2.5s forwards;
}

@keyframes fadeInAndMove {
  0% {
    opacity: 0;
    transform: rotate(-25deg) translateY(-50px);
  }

  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
    transform: rotate(-25deg) translateY(0);
  }
  70% {
    opacity: 0.7;
    transform: rotate(-25deg) translateY(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-25deg) translateY(0);
  }
}

@keyframes text {
  0% {
    color: var(--background-color);
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  80% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
