.header {
  margin: 48px 48px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.imgContainer {
  position: relative;
  height: 100px;
  width: 200px;
  flex-grow: 0;
}

@media (max-width: 1040px) {
  .imgContainer {
    width: 150px;
    height: 75px;
  }

  .header {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .navbar {
    position: relative;
    top: 0;
    right: 0;
    background-color: var(--mobile-nav-color);
    padding: 24px;
    border-radius: 16px 0 0 16px;
  }

  .header {
    margin-right: 0;
    margin-top: 0;
    align-items: flex-start;
  }

  .imgContainer {
    margin-top: 24px;
  }
}
